[Unit]
Description=Simple RTSP forwarder for the Raspberry Pi Camera
After=network.target

[Service]
ExecStart=/usr/local/bin/seer-pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
